.btn-clean {
  padding: 35px 70px;
  background: white;
  color: black;
  border-radius: 4px;
  margin: 15px;
}

.imgbtn1 {
  width: 60px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15%;
  margin-bottom: 10px;
}
