.hand {
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  margin-left: 250px;
  /* margin-right: 250px; */
}

.as {
  background: white;
  width: 200px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px;
}

.plants {
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 60px;
  color: #15573F;
}

.plants_first_son > div > a {
  float:left; 
  color: #15573F;
  font-weight: bold;
  margin: 0px 15px;
}

.plants_second_son {
  float:left; 
  color: #15573F;
  margin: 10px 0px;
  display: flex;
}

.plants_second_son > a {
  color: grey;
  font-weight: bold;
}

.buyBtn {
  border: 1px solid #15573F;
  text-decoration: none;
  color: #15573F;
  padding: 10px 65px;
  border-radius: 20px;
  width: 50px;
}

.buyBtn:hover {
  background: #15573F;
  color: white;
}

.plants_sibilin {
  margin-left: 46px;
}

.plants_sibilin > img {
  margin-right: 6px;
  margin-bottom: 20px;
}