
.wrappers{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.wrapper1 {
  display: inline;
}

.wrapper1_son {
  float: left;
  position: absolute;
  left: 70px;
  top: 350px;
}

.wrapper1_son > img {
  transform: rotate(270deg);
  left: -100px;
  position: absolute;
  width: 200px;
  top: -148px
}

.wrapper1_son > hr {
  background: grey;
  width: 0px;
}

.first_son_Wrapper{
  width: 300px;
  text-align: initial;
}

.second_son_Wrapper{
  width: 314px;
  height: 422px;
  text-align: initial;
  padding: 35px;
  background: whitesmoke;
}

.first_son_wrapper_son > h1 {
  color: #15573F;
  margin-bottom: 10px;
}

.first_son_wrapper_son > a {
  color: grey;
}

.ul_first_wrapper_son {
  list-style-type: none;
}

.ul_first_wrapper_son > li {
  display: flex;
  margin: 10px 0px;
}

li > a {
  padding-top: 6px;
  padding-left: 10px;
  color: grey;
}

.first_son_second_son_wrapper {
  border-radius: 5px;
}

.first_son_second_son_wrapper > p {
  line-height: 25px;
  color: grey;
  margin-bottom: 25px;
  margin-top: 20px;
}

.second_son_second_son_wrapper > label {
  color: grey;
  font-weight: bold;
  margin-bottom: 10px;
}

.input_second_son_second_son_wrapper {
  margin: 10px 0px;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px 70px;
  padding-left: 20px;
  font-size: 15px;
}

.send_second_son_second_son_wrapper{
  padding: 14px 50px;
  border-radius: 25px;
  border: 1px solid #15573F;
  color: #15573F;
  background: whitesmoke;
  margin-top: 20px;
  float: right;
}

.disableSon {
  pointer-events: none;
}

.envelope {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.confirmationEmail {
  text-align: center;
}

.error {
  color:red;
  font-size: 12px;
  display: relative;
}

.errors {
  color:red;
}

.errorInput {
  color:red;
  border: 1px solid red;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
  .wrappers {
    display: contents;
}


}