.survey3_secod_son > h2 {
  color: grey;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}

.survey3_secod_son > a {
  color: grey;
}

.survey3_third_son {
  margin: 70px;
  margin: 40px 70px;
}

.survey3_no_btn {
  padding: 35px 35px;
  background: white;
  color: black;
  border-radius: 4px;
  margin: 15px;
}

.survey3_fourth_son > a {
  margin: 50px 76px;
}