* {
  margin: 0px;
  padding: 0px;
}

/* .querySelector("#root > div > div > div:nth-child(3)") */

.Divoptions {
  margin: 40px;
  display: flex;
  justify-content: space-around;
}


.Divnavigate > a {
  margin:50px;
}
